/* The side navigation menu */
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  opacity: 0.8;
  /*background-color: #ab48b3;*/
  background-image: linear-gradient(-45deg, #5956ce, #b251c4);
}

/* The navigation menu links */
.sidenav a {
  text-align: center;
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  /*color: #fff;*/
  color: darkblue;
  display: block;
  transition: 0.3s;
  padding: 8px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  transform: translateY(-2px) scaleX(1.03);
  border: none;
  text-decoration: none;
  transition: all 0.1s ease;
}

.sidenav img {
  border-radius: 20%;
}

.sidenav h2 {
  color: #fff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding-left: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#SignOut {
  background-color: #ec6621;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
}
#SignOut:hover {
  background-color: #fff;
  color: black;
}

#value {
  color: #0f82ff;
}

.John {
  text-align: center;
  margin: 7% 2% 3%;
  color: #0f82ff;
  font-size: 3em;
}

#BtnOrder {
  background-image: linear-gradient(-45deg, #5956ce, #b251c4);
  /*float: center;*/
  letter-spacing: 1px;
  border: none;
  margin-top: 1.4em;
}

#BtnOrder:hover {
  background-image: linear-gradient(45deg, #5956ce, #b251c4);
  transform: translateY(-2px) scaleX(1.04);
  transition: all 0.3s ease;
}

#h1 {
  color: #fff;
  font-size: 2em;
}
