
body {
	margin: 0;
	box-sizing: border-box;
	background-image: linear-gradient(-45deg, #5956ce, #b251c4);
    height: 120vh;
    background-repeat: no-repeat;
    position: relative;
}

.box {
	position: relative;
	top: 10%;
	box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.7);
	width: 100%;
	height: auto;
	padding: 3rem 3rem 2rem;
	border: 5px  white solid;
	border-radius: 8px;
	/*position: static; */
	/*margin-top: 8%;*/
	background: rgba(255,255,255, 0.8);
	/*float: center;*/
}

.h {
	text-align: center;
	font-family: sans-serif;
	font-size: 2.8em;
	font-weight: 600;
	letter-spacing: 1px;
}
.formDiv {
	width: 100%;
	margin: 0 auto;
}


input:focus {
	/*text-decoration: none;*/
	border-bottom: 3px solid #5956ce;
	transform: translateY(-2px) scaleX(1.04);
	transition: all 0.4s ease;
	border: none;
	/*outline: none;*/
}


label {
	letter-spacing: 1px;
	padding-left: 1px;
}
.BtnRegister {
 	background-image: linear-gradient(45deg, #5956ce, #b251c4);
 	text-decoration: none;
 	letter-spacing: 1px;
 	margin-top: 30px;
 	margin-bottom: 30px;
 	font-weight: 600;
 	border: none;
 }
.BtnRegister:hover {
	transform: translateY(-2px) scaleX(1.03);
	transition: all 0.3s;
	/*background-color: yellow;*/
	background-image: linear-gradient(-45deg, #5956ce, #b251c4);
}