<header>
    <nav id="header-nav" class="navbar navbar-expand-md navbar-light" style="background-color: #ab48b3; opacity: 0.9;">
        <a href="index.html" class="navbar-brand"><img src="download.png" style="height: 50px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-center">
              <li class="nav-item">
                <a class="nav-link" ui-sref="home.main" ui-sref-active="active-tab">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref-active="active-tab" href="loginRegister/login.html">ORDER NOW</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="home.menu" ui-sref-active="active-tab">MENU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="home.aboutUs"  ui-sref-active="active-tab">
                  ABOUT US
                </a>
              </li>
              
            </ul>
        </div>
        <span class="my-2 my-lg-0">
            <a href="loginRegister/login.html"><button class="btn btn-outline my-2 my-sm-0" id="SignIn" type="button">Log In</button></a>
            <a href="loginRegister/register.html"><button class="btn btn-outline my-2 my-sm-0" id="SignUp" type="button">Register</button></a>
        </span>
    </nav>
    <div id="main-content" class="container">
  <div class="box">
    <h1 class="display-1">EAT DRINK VISIT</h1>
  </div>

</div>



</header>






<ui-view></ui-view>