
<div class="container">


    <div class="row" id="home-tile">
      <div class="col-md-4 col-sm-6 col-xs-12"><a ui-sref="#"><div id="menu-tile"><span>menu</span></div></a></div>
      <div class="col-md-4 col-sm-6 col-xs-12"><a ui-sref="#"><div id="story-tile"><span>our story</span></div></a></div>
      <div class="col-md-4 col-sm-12 col-xs-12"><a href="https://goo.gl/maps/r8JjMPBa42UTgkgW8" target="_blank">
        <div id="map-tile">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14250.863434750223!2d83.36969188864323!3d26.753442032457624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399145df38ed7247%3A0x9d866be3e28fc77a!2sRangrezza%20Restaurant%20%26%20Banquet%20Hall.!5e0!3m2!1sen!2sin!4v1590238947596!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <span>locate us</span>
        </div></a></div>
    </div>

</div>