<div class="container">
  <h2 id="menu-categories-title" class="text-center mt-5">Menu Categories</h2><hr>

  <section class="row">
    <div class="col-md-3 col-sm-6 col-xs-6 ">
      <a href="#">
        <div class="category-tile">
          <img src="images/f4.jpg" width="200" height="200">
          <span>Indian</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 ">
      <a href="#">
        <div class="category-tile">
          <img src="images/f4.jpg" width="200" height="200">
          <span>South Indian</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 ">
      <a href="#">
        <div class="category-tile">
          <img src="images/f4.jpg" width="200" height="200">
          <span>Chinese</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 ">
      <a href="#">
        <div class="category-tile">
          <img src="images/f4.jpg" width="200" height="200">
          <span>Italian</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 ">
      <a href="#">
        <div class="category-tile">
          <img src="images/f4.jpg" width="200" height="200">
          <span>Our Special</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 ">
      <a href="#">
        <div class="category-tile">
          <img src="images/f4.jpg" width="200" height="200">
          <span>Dinner Special</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 ">
      <a href="#">
        <div class="category-tile">
          <img src="images/f4.jpg" width="200" height="200">
          <span>Fast Food</span>
        </div>
      </a>
    </div>
  </section>


</div>

