<script src="https://use.fontawesome.com/ed3ceec078.js"></script>

<div class="container">
    <div class="John">John</div>
    <div class="text-center mt-4"><i class="fa fa-user fa-5x"></i></div>
    <div class="h3 text-center mt-4" style="color: black; font-size: 2em; font-weight: 600;">User Details</div>
    <div class="container text-center">
      <table class="table">
        <tbody>
          <tr>
            <th>UserName</th>
            <th id="value">John;</th>
          </tr>
          <tr>
            <th>Email</th>
            <th id="value">host@domain</th>
          </tr>
          <tr>
            <th>Contact Number</th>
            <th id="value">987-654-4321</th>
          </tr>
          <tr>
            <th>Address</th>
            <th id="value">Town Hall</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="h3 text-center mt-4" style="color: green;">Dilivery is free for your address</div>
    <center class="mt-4"><a href="#"><button class="btn btn-lg mx-5" id="BtnOrder">Order Now</button></a></center>


  
</div>



