<script src="https://use.fontawesome.com/ed3ceec078.js"></script><div class="container">
		<div class="h2 text-center text-primary mt-5">John</div>
		<div class="text-center mt-4"><i class="fa fa-user fa-5x"></i></div>
		<div class="h3 text-center text-primary mt-4">Your Symptoms Today</div>
		<div class="container text-center">
			<table class="table">
				<tbody>
					<tr>
						<th>Temperature</th>
						<th style="color: #ff0000;">100 &#8451;</th>
					</tr>
					<tr>
						<th>You have Dry Cough</th>
						<th><i class="fa fa-play-circle fa-2x" style="color: #0f82ff;"></i></th>
					</tr>
					<tr>
						<th>Running Nose</th>
						<th><i class="fa fa-tint fa-2x" style="color: #0f82ff;"></i></th>
					</tr>
					<tr>
						<th>Sneezing</th>
						<th><i class="fa fa-viruses fa-2x" ></i></th>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="h3 text-center mt-4" style="color: #ff0000;">Your symptoms are Suspective for COVID-19</div>
		<center class="mt-4"><a href="#"><button class="btn btn-danger mx-5">Proceed for more info</button></a></center>


	
	</div>
