<div class="container mt-5">
	<section style="height: 400px;">
		<h2 class="text-center">Previous Orders and Visits</h2><hr>
	</section>
	<section>
		<h2 class="text-center">Give Feedback</h2><hr>
	    <div class="container">
	      <div class="row form-group">
	        <div class="col-md-6 col-sm-6 col-xs-12">
	          <label for="usr">Name</label>
	          <input type="text" class="form-control" id="usr">
	        </div>
	        <div class="col-md-6 col-sm-6 col-xs-12">
	          <label for="email">Email Id</label>
	          <input type="text" class="form-control" id="email">
	        </div>
	      </div>
	      <div class="row form-group">
	        <div class="col-md-12 col-sm-12 col-xs-12">
	          <label for="review">Review</label>
	          <textarea class="form-control" rows="5" id="review"></textarea>
	        </div>
	      </div>
	      <button type="submit" class="btn btn-outline-success ">Submit</button>
	    </div>
	</section>
	
</div>